.pagina-sobre-nos{

  
h4{
  display: flex;
  margin-top: 4%;
  margin-left: 5%;
  font-size:26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-weight: 700;
  color: #383131;  
}

p{
  margin-top:5% ;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: 32px;
  color: #383131;
  font-weight: 400;  
}

.bottom-sobrenos{
  display: flex;
  margin-left: 45%;
  margin-top: 5%;
  width: 120px;
  height: 139.75px;

}
}

